section{
    margin: 2% auto;
    width: 40%;
    background: rgb(200, 200, 200);
    border: 1px solid rgb(34, 158, 34);
    border-radius: 5px;
    font-size: 120%;
    padding: 2%;
}

table {
    margin: 0 auto;
    border: 1px solid rgb(55, 55, 55);
}

table th, table td{
    border: 1px solid rgb(55, 55, 55);
}