body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
}

.form{
    background: rgb(200, 200, 200);
    padding: 2%;
    width: 30%;
    margin: 0 auto;
    border: 1px solid rgb(34, 158, 34);
    border-radius: 5px;
    font-size: 150%;
}

.form input[type='submit']{
    float: none;
    width: 25%;
    height: 30%;
    border: 1px solid rgb(180, 180, 180);
    color: rgb(255, 255, 255);
    background: rgb(68, 157, 68);
    box-shadow: 0 3px 0 0 rgb(34, 158, 34);
    -moz-box-shadow:  0 3px 0 0 rgb(34, 158, 34);
    -webkit-shadow:  0 3px 0 0 rgb(34, 158, 34);
}

.form input[type='submit']:active, .form input[type='submit']:focus{
    outline: none;
}

.form input[type='submit']:active{
    position: relative;
    top: 3px;
    box-shadow: 0 0 0 0 rgb(34, 158, 34);
    -moz-box-shadow:  0 0 0 0 rgb(34, 158, 34);
    -webkit-shadow:  0 0 0 0 rgb(34, 158, 34);
}

.result{
    margin: 1% auto;
    background: rgb(200, 200, 200);
    padding: 2%;
    width: 30%;
    border: 1px solid rgb(34, 158, 34);
    border-radius: 5px;
    font-size: 150%;
}

.result table{
    width: 55%;
    margin: auto auto;
    border: 1px solid rgb(50, 50, 50);
}

.result table td{
    padding: 1%;
    border: 1px solid rgb(50, 50, 50);
}

.result table td:nth-of-type(2){
    width: 35%;
}
