body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    background: rgb(210, 210, 210);
}

.form{
    background-image: -o-linear-gradient(bottom, #FFFFFF 37%, #E2E2E2 63%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 37%, #E2E2E2 63%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 37%, #E2E2E2 63%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 37%, #E2E2E2 63%);
    background-image: linear-gradient(to bottom, #FFFFFF 37%, #E2E2E2 63%);
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #8CACD2;
    border-radius: 5px;
    font-size: 150%;
}

.form > div:first-of-type{
    margin-bottom: 6%;
}

.form input[type='text']{
    width: 45%;
    height: 35px;
    margin-bottom: 4%;
    border-radius: 2px;
    padding: 1%;
    border: 1px solid rgb(100, 100, 100);
}

.form input[type='text']:focus, .form input[type='text']:active{
    outline: none;
}

.form select{
    width: 30%;
    height: 30px;
    font-size: 80%;
}

.form input[type='submit']{
    display: block;
    margin: 2% auto;
    background: rgb(35,68,101);
    box-shadow: 3px 3px 1px 0 rgb(17,34,50);
    -moz-box-shadow:  3px 3px 1px 0 rgb(17,34,50);
    -webkit-shadow:  3px 3px 1px 0 rgb(17,34,50);
    float: none;
    width: 35%;
    height: 35px;
    border: 1px solid rgb(180, 180, 180);
    color: rgb(255, 255, 255);
    font-size: 110%;
    transition: ease 0.2s all;
}

.form input[type='submit']:active, .form input[type='submit']:focus{
    outline: none;
}

.form input[type='submit']:active{
    background: rgb(255, 156, 0);
    color: rgb(35,68,101);
    position: relative;
    top: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-shadow: none;
}

.form .error-message{
    margin-bottom: 2%;
    font-size: 80%;
}
