.header{
     width: 62%;
     margin: 5% auto;
     background-image: -o-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
     background-image: -moz-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
     background-image: -webkit-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
     background-image: -ms-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
     background-image: linear-gradient(to bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
     text-align: center;
     border: 1px solid #8CACD2;
     border-radius: 5px;
     font-size: 150%;
 }

.result{
    background-image: -o-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
    background-image: -moz-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
    background-image: -webkit-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
    background-image: -ms-linear-gradient(bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
    background-image: linear-gradient(to bottom, #CEDCEC 20%, #B9CFEE 46%, #7E9FCE 79%);
    padding: 2%;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #8CACD2;
    border-radius: 5px;
    font-size: 150%;
    line-height: 150%;
}